*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.container{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.main-navigation{
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

}
.site-navigation{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}
.site-navigation li{
  width: 20%;
}
.site-navigation li:nth-child(4n+1){
text-align: left;
padding-left: 72px;
}
.site-navigation li:nth-child(4n+2){
text-align: left;
padding-left: 73px;

margin-right: 20%;
}
.site-navigation li:nth-child(4n+3){
text-align: right;
padding-right: 73px;
}
.site-navigation li:nth-child(4n+4){
text-align: right;
padding-right: 72px;
}
.main-logo{
  position: absolute;
  top: 0;
  left: 531px;
}
.site-navigation a{
  color: #000000;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: black;
  opacity: 0.3;
}
.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active{
  color: #766357;
  opacity: 1;
}
.welkome-to-sedona{
  width: 1200px;
  height: 510px;
  padding: 76px 371px 80px;
  background-image: url("../img/white.png"), url("../img/mountain.jpg");
  background-position: 0 100%, 0 -76px;
  background-repeat: no-repeat;
}
.discription-sedona{

  text-align: center;
  display: block;
  width: 100%;
  padding-top: 61px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 56px;
}
.caption{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.services-item{
  width: 400px;
}
.reason {
  display: flex;
  height: 256px;
  text-align: center;
}
.reason-blue{
  padding-top: 49px;
  padding-bottom: 49px;
  color: #ffffff;
  background-color: #81b3d2;
}
.other{
  background-color: #eeeeee;
}
.reason-item{
  width: 400px;
  padding-top: 50px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 60px;
}
.services{
  display: flex;
  height: 330px;

  text-align: center;
}
.grey{
  background-color: #eeeeee;
}
.interested{
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  text-align: center;
}
.interested p{
  margin-top: 23px;
  margin-bottom: 44px;
  padding-left: 50px;
  padding-right: 50px;
}
.interested strong{
  font-size: 30px;
  line-height: 36px;
}
.search-brown{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  font-size: 21px;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 32px;
}
.search-brown:hover{
  background-color: #604e43;
}
.search-brown:active{
  color: #857871;
  background-color: #503e33;
}
.hotel-search{
  line-height: 26px;
  font-weight: 700;
}
.hotel-search input{
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-grey{
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;
}
.button-grey:hover,
.button-grey:focus{
  background-color: #ebebeb;
}
.button-grey:active{
  background-color: #ffffff;
}
.button-blue{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #81b3d2;
}
.button-blue:hover{
  background-color: #669ec0;
}
.button-blue:active{
  color: #86b6d1;
  background-color: #5496bd;
}
.button-brown{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #766357;
}
.button-brown:hover{
  background-color: #604e43;
}
.button-brown:active{
  color: #857871;
  background-color: #503e33;
}
a.button-blue,
a.button-brown{
  font-weight: 700;
}
.social-webs{
  list-style: none;
}
.visit{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.hotel-search .button-blue{
  font-size: 21px;
  line-height: 26px;
}

.selection{
  background-image: url("../img/blur-mountain.jpg");
}
.form-selection{
  color: white;
}
.form-selection legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.selection-list{
  list-style: none;
}
.options{
  border: 0;
}
.show{
  color: white;
  font: inherit;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background: transparent;
  border: 2px solid white;
}
.show:hover{
  color: black;
  background-color: white;
}
.sort{
  font-size: 12px ;
  line-height: 18px;
}
.sort a{
  color: black;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}
.sort a:hover{
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}
.sort a:active{
  color: black;
  opacity: 1;
  border: none;
}
.rating{
  background-color: #f2f2f2;
}
.sort a.active,
.sort a.active:hover,
.sort a.active:active{
  color:#81b3d2;
  opacity: 1;
  border: none;
}
.hotel a{
  color: black;
}
.hotel a:hover{
  color: #81b3d2;
}
.hotel a:active{
  color: black;
  opacity: 0.3;
}
.page-footer{
  opacity: 0.9;

  display: flex;
  justify-content: space-around;
}
.visitsedona{
  width: 400px;
  padding-top: 51px;
  padding-bottom: 53px;
}
.social-webs-list{
  width: 400px;
}
.html-academy{
  width: 400px;
  padding-right: 101px;
  padding-top: 40px;
  padding-bottom: 39px
}
