*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.container{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}
.container ul{
  padding-left: 0;
  list-style: none;
}
.main-navigation{
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

}
.site-navigation{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}
.site-navigation li{
  width: 20%;
}
.site-navigation li:nth-child(4n+1){
text-align: left;
padding-left: 72px;
}
.site-navigation li:nth-child(4n+2){
text-align: left;
padding-left: 73px;

margin-right: 20%;
}
.site-navigation li:nth-child(4n+3){
text-align: right;
padding-right: 73px;
}
.site-navigation li:nth-child(4n+4){
text-align: right;
padding-right: 72px;
}
.main-logo{
  position: absolute;
  top: 0;
  left: 531px;
}
.site-navigation a{
  color: #000000;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: black;
  opacity: 0.3;
}
.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active{
  color: #766357;
  opacity: 1;
}
.welkome-to-sedona{
  width: 1200px;
  height: 510px;
  padding: 76px 371px 80px;
  background-image: url("../img/white.png"), url("../img/mountain.jpg");
  background-position: 0 100%, 0 -76px;
  background-repeat: no-repeat;
}
.discription-sedona{

  text-align: center;
  display: block;
  width: 100%;
  padding-top: 61px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 56px;
}
.caption{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.services-item{
  width: 400px;
}
.reason {
  display: flex;
  height: 256px;
  text-align: center;
}
.reason-blue{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 49px;
  padding-bottom: 49px;
  color: #ffffff;
  background-color: #81b3d2;
}
.other{
  background-color: #eeeeee;
}
.reason-item{
  width: 400px;
  padding-top: 50px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 60px;
}
.services{
  display: flex;
  height: 330px;

  text-align: center;
}
.grey{
  background-color: #eeeeee;
}
.interested{
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  text-align: center;
}
.interested p{
  margin-top: 23px;
  margin-bottom: 44px;
  padding-left: 50px;
  padding-right: 50px;
}
.interested strong{
  font-size: 30px;
  line-height: 36px;
}
.search-brown{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  font-size: 21px;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 32px;
}
.search-brown:hover{
  background-color: #604e43;
}
.search-brown:active{
  color:rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}
.hotel-search{
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  width: 568px;
  position: absolute;
  left: 316px;
}
.hotel-search input{
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.button-grey{
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #f2f2f2;
  border: none;
}
.button-grey:hover,
.button-grey:focus{
  background-color: #ebebeb;
}
.button-grey:active{
  background-color: #ffffff;
}
.button-blue{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #81b3d2;
}
.button-blue:hover{
  background-color: #669ec0;
}
.button-blue:active{
  color:rgba(255, 255, 255, 0.7);
  background-color: #5496bd;
}
.button-brown{
  color: #ffffff;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #766357;
}
.button-brown:hover{
  background-color: #604e43;
}
.button-brown:active{
  color:rgba(255, 255, 255, 0.7);
  background-color: #503e33;
}
a.button-blue,
a.button-brown{
  font-weight: 700;
}

.hotel-search .button-blue{
  font-size: 21px;
  line-height: 26px;
}

.selection{
  display: flex;
  background-image: url("../img/blur-mountain.jpg");
  background-color: #2a3e45;
  color: #ffffff;
  min-height: 217px;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 31px;
}

.selection legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.options{
  border: 0;
  width: 300px;
}
.options li{
  margin-top: 31px;
}
.options ul{
  padding: 0;
}
.filter-range{
  width: 316px;
  margin-left: 210px;
  margin-right: 74px;
  border: none;
  box-sizing: content-box;
}
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  transform: translate(-50%, -50%);
  background: #ffffff;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 37px;
}
.price-controls input {
  width: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;


}
.range-toggle:hover {
  border: 11px solid #ffffff;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.show{
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  color: #ffffff;
  font: inherit;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background: transparent;
  border: 2px solid white;
}
.show:hover{
  color: black;
  background-color: white;
}
.sort{
  padding-left: 73px;
  padding-right: 73px;
  display: flex;
  align-items: center;
  font-size: 12px ;
  line-height: 18px;
  border-bottom: 1px solid #e5e5e5;
}
.sorting{
  display: flex;
}
.sort a{
  color: black;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}
.sort a:hover{
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}
.sort a:active{
  color: black;
  opacity: 1;
  border: none;
}

.sort a.active,
.sort a.active:hover,
.sort a.active:active{
  color:#81b3d2;
  opacity: 1;
  border: none;
}
.arrows{
  margin-left: auto;
}
.rating p{
  background-color: #f2f2f2;
}
.rating{
  margin-left: auto;
}
.hotel{
  border-bottom: 1px solid #e5e5e5;
}
.hotel-title a{
  color: black;
}
.hotel-title a:hover{
  color: #81b3d2;
}
.hotel-title a:active{
  color: black;
  opacity: 0.3;
}
.hotel{
  display: flex;
  padding: 29px 73px 36px 73px;
}
.page-footer{
  background-color: rgba(255,255,255,0.9);
  display: flex;
  min-height: 120px;
  text-align: center;
  align-items: center;
}
.footer-index{
  position: relative;
  margin-top: -120px;
}
.visit-wrapper{
  width: 400px;
  text-align: center;
}
.social-webs{
  width: 400px;
}
.html-academy{
  width: 400px;
}
.visit{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.visually-hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.map{
  min-height: 593px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #cacaca;
}
